@{
    ViewBag.Title = "Home Page";
}


<div >
    <img class="img-responsive" src="~/images/homewall.jpg"alt="http://myhdwallpapers.org/nature-sunrise-thailand-paradise.jpg" style="padding:0,0;"/>
</div>
